@model Webbanhangonline.Models.EF.Kho

@{
    ViewBag.Title = "Thêm mới kho";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/HomeAdmin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Kho" class="nav-link">Danh mục kho</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới kho</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Danh sách kho</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới</h3>


        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "Kho", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã kho</label>
                            @Html.TextBoxFor(x => x.MaKho, new { @class = "form-control", @placeholder = "Mã kho" })
                            @Html.ValidationMessageFor(x => x.MaKho, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên kho</label>
                            @Html.TextBoxFor(x => x.TenKho, new { @class = "form-control", @placeholder = "Tên kho" })
                            @Html.ValidationMessageFor(x => x.TenKho, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Địa chỉ</label>
                            @Html.TextBoxFor(x => x.Diachi, new { @class = "form-control", @placeholder = "Mô tả" })
                            @Html.ValidationMessageFor(x => x.Diachi, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <a href="/Admin/Kho" class="btn btn-danger">Quay lại</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
    <!-- /.card-footer-->
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>

        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/Content/ckeditor/config.js',
                extraAllowedContent: 'span'
            });
        });

        CKEDITOR.replace('txtDetail', {
            customConfig: '/Content/ckeditor/config.js',
            extraAllowedContent: 'span'
        });
        function BrowseSever(field) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                document.getElementById(field).value = fileUrl;
            };
            finder.popup();
        }

    </script>
}
