@model Webbanhangonline.Models.EF.LoaiSanPham

@{
    ViewBag.Title = "Loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/HomeAdmin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/LoaiSP" class="nav-link">Loại sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Cập nhật</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin</h3>


        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Edit", "LoaiSP", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x => x.MaLSP)
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="MaLSP">Mã loại sản phẩm</label>
                        @Html.TextBoxFor(x => x.MaLSP, new { @class = "form-control", @placeholder = "Mã loại sản phẩm", id = "MaLSP" })
                        @Html.ValidationMessageFor(x => x.MaLSP, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="TenLSP">Tên loại sản phẩm</label>
                        @Html.TextBoxFor(x => x.TenLSP, new { @class = "form-control", @placeholder = "Tên loại sản phẩm", id = "TenLSP" })
                        @Html.ValidationMessageFor(x => x.TenLSP, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Alias">Alias</label>
                        @Html.TextBoxFor(x => x.Alias, new { @class = "form-control", @placeholder = "Alias", id = "Alias" })
                        @Html.ValidationMessageFor(x => x.Alias, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="MoTa">Mô tả</label>
                        @Html.TextAreaFor(x => x.MoTa, new { @class = "form-control", id = "MieuTa" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Ảnh đại diện</label>
                        <div class="input-group">
                            <div class="custom-file">
                                @Html.TextBoxFor(x => x.BieuTuong, new { @id = "txtImage", @class = "form-control" })
                            </div>
                            <div class="input-group-append">
                                <input type="button" value="Tải ảnh" onclick="BrowseSever('txtImage');" />

                            </div>
                        </div>
                    </div>

                    <!-- Add other form fields as needed -->

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                }

            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
    <!-- /.card-footer-->
    <!-- /.card -->

</section>
<!-- /.content -->
