@model IEnumerable<Webbanhangonline.Models.EF.CTPhieuXuat>

@{
    decimal totalPrice = 0;
}
<table class="table">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá bán</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = Model.ElementAt(i);
            totalPrice += item.GiaBan * item.SoLuong;
            <tr>
                <td>@item.MaSP</td>
                <td>
                    <input type="hidden" name="ProductDetails[@i].MaSP" value="@item.MaSP" />
                    <input type="hidden" name="ProductDetails[@i].GiaBan" value="@item.GiaBan" />
                    <input type="number" name="ProductDetails[@i].SoLuong" value="@item.SoLuong" class="form-control quantity" data-gia="@item.GiaBan" onchange="updateTotalPrice()" />
                </td>
                <td>@item.GiaBan</td>
                <td><button type="button" class="btn btn-danger btn-remove">Xóa</button></td>
            </tr>
        }
    </tbody>
</table>

<script>
function updateTotalPrice() {
    var totalPrice = 0;
    document.querySelectorAll('.quantity').forEach(function (element) {
        var quantity = parseFloat(element.value);
        var price = parseFloat(element.getAttribute('data-gia'));
        if (!isNaN(quantity) && !isNaN(price)) {
            totalPrice += quantity * price;
        }
    });
    document.getElementById('Tongtien').value = totalPrice;
}

// Gọi hàm này để tính tổng tiền ban đầu khi trang được tải
updateTotalPrice();
</script>
